
h1 {
    background-image:
    url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
    text-align: center;
    font-size: 100px;
    color: Khaki;
}
h2{
font-size:32px;
font-weight: bold;
color: white;

}
strong{
  color: blue;
}
#brushestitle{
  background-color: mediumspringgreen;
}
#framestitle{
  background-color: lightcoral;
}
#painttitle{
  background-color: skyblue;
}
h1,h2,h3,p{
  font-family: Helvetica;
}
